.row
  .columns.large-2
    Name
  .columns.large-3.pull-7
    =@cheese.name
.row
  .columns.large-2
    Milk type:
  .columns.large-3.pull-7
    =@cheese.milk
.row
  .columns.large-2
    Country
  .columns.large-3.pull-7
    =@cheese.country_of_origin
