%h3 Select you cheese

%ul
  -@cheeses.each do |cheese|
    %li.row
      .columns.large-6
        = link_to " #{cheese.name} from #{cheese.region}, #{cheese.country_of_origin}", cheese_path(cheese.id)
