.row
  .columns.large-2
    Vintage
  .columns.large-3.pull-7
    =@wine.vintage
.row
  .columns.large-2
    Grape type:
  .columns.large-3.pull-7
    =@wine.grape_type
.row
  .columns.large-2
    Appellation
  .columns.large-3.pull-7
    =@wine.appellation
