<a href="http://winefolly.com/review/wine-characteristics/"> Link that describes wine characteristics</a>

<a href="http://www.winemag.com/Wine-for-Beginners/"> storage temp</a>



<h1>Murray's Guide <i>to Cheese & Beverage Pairing </i></h1>
</div>
<div class="std"><p>Matchmaking doesn’t always work out in life, but playing flavor matchmaker with cheese is fun every time. Our top tips for picking the perfect beverage will help you enjoy your fromage even more. But remember – there are no hard and fast rules when it comes to pairing, so just let your palate enjoy different combinations. </p>
  <h2>Pairing Basics</h2>
  <div class="col-set">
    <div class="col-1">
      <h3>Balancing Act</h3>
      <p>Avoid a pairing where one texture or flavor will clearly overpower the other. The strength of both pairing elements should be matched. A heavy red wine with a delicate goat cheese? That’s just not a fair fight. </p>

      <h3>Find Harmony</h3>
      <p>Look for a flavor or quality that you’d like to bring out, such as grass or acidity, and match like with like. Sometimes this puts a spotlight on a flavor that was lurking in the background, other times it can surprise you with an unexpected flavor.</p></li>

      <h3>Play Up Contrast</h3>
      <p>Opposites attract, creating balance and sometimes an altogether new flavor. When you have a funky or earthy flavor sometimes you want to complement that with something that will smooth it over. Sweet and salty is a classic pairing of contrast.</p>
    </div>
    <div class="col-2">
      <h3>Common Ground</h3>
      <p>We like to say, ‘what grows together goes together’. Terroir means taste of place, acknowledging the influence of environment on flavor. Matching beer or wine with cheese produced in the same region isn’t a guaranteed home run, but it’s a great place to start.  </p>

      <h3>Go With Your Gut</h3>
      <p>Literally! When all else fails, a natural craving will often steer you in the right direction. Look at it this way: If you’re snacking on olives it’s unlikely you’re going to go for the bowl of strawberries. You’re going to reach for a slice of salami or something similarly savory. </p>

      <h3>Chill Out</h3>
      <p>When it comes to pairing, there are no firm rules, just guidelines that can get you in the right ballpark. The only way to know if a pairing works is to experiment and taste for yourself. Don’t forget, even a bad pairing can be educational!</p>
    </div></div>
